<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
    <style>

        .swipe {
            display: grid;
            grid-template-columns: 75% 25%;
        }

    </style>
</head>
<body>
    <dic class="explanation">
        <p>
            The idea of the recipeswiper is that you swipe on the given recipes and based on your swipes, we will give some recipe suggestion we think you will like.
        </p>
        <div class="swipe">
            <p>
                To indicate that you like a recipe, you can swipe from left to right.
            </p>
            <img src="../static/swipe_right.png" alt="Trulli" width="100%">
        </div>
        <div class="swipe">
            <p>
                To indicate that you do not like a recipe, you can swipe from right to left.
            </p>
            <img src="../static/swipe_left.png" alt="Trulli" width="100%" style=":right">
        </div>
        <p>
            Our program will have a hard time if you swipe left on all recipes, so for the best result you should swipe right sometimes.
        </p>
    </dic>
</body>
</html>