<div id="recipe" style=" width: 832px" class="d-flex flex-wrap flex-column rounded align-items-center">

    {% if next_recipe['image'] != None %}
        	<img src="{{ next_recipe['image']}}" class="img rounded">
    {% endif %}
    <div class="d-flex flex-column" style="width: 832px">
    <h2>{{ next_recipe['title'] }}</h2>

    <h3>Ingredients</h3>
    <ul>
    {% for ingredient in next_recipe['ingredients'] %}
        <li>{{ ingredient }}</li>
    {% endfor %}
    </ul>

    <h3>Method</h3>
    <ul>
        {% for methodentry in next_recipe['method'] %}
            <li>{{ methodentry }}</li>
        {% endfor %}
    </ul>

    <h3>Time</h3>
    <h4>Prepare: {{ next_recipe['time']['prep']}}</h4>
    <h4>Cook: {{ next_recipe['time']['cook']}}</h4>

    <h3>Serves {{ next_recipe['serves'] }}</h3>
    </div>
</div>

