
    <!doctype html>
    <html>
    <head>
        <title>Foodswiper</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	
    </head>
    <body class="bg-primary d-flex flex-column align-items-center">
        {% if done %}
        <h1>You finished all the swipes!</h1>
        {% include 'recipelist.html' %}
        {% else: %}
        <h1>Do you like this recipe?</h1>
        <div class="bg-secondary d-flex flex-wrap flex-column rounded align-items-center">
        {% include 'recipe.html' %}
        </div>
		
		<div class="d-flex flex-row">
        <form action="/swipe" method="POST">
            <input style="display: none" type="text" name="ids" value="{% if previous_ids != "" and previous_ids != None %}{{ previous_ids + "," + next_id|string }}{% else %}{{ next_id }}{% endif %}">
            <input style="display: none" type="text" name="swipes" value="{% if previous_swipes != "" and previous_swipes != None %}{{ previous_swipes + ",no" }}{% else %}{{ "no" }}{% endif %}">
            <button type="submit" id="nobutton">No</button>
        </form>
        <form action="/swipe" method="POST">
            <input style="display: none" type="text" name="ids" value="{% if previous_ids != "" and previous_ids != None %}{{ previous_ids + "," + next_id|string}}{% else %}{{ next_id }}{% endif %}">
            <input style="display: none" type="text" name="swipes" value="{% if previous_swipes != "" and previous_swipes != None %}{{ previous_swipes + ",yes" }}{% else %}{{ "yes" }}{% endif %}">
            <button type="submit" id="yesbutton">Yes</button>
        </form>
        </div>
        {% endif %}
    </body>
    <script>
        document.addEventListener('touchstart', handleTouchStart, false);
        document.addEventListener('touchend', handleTouchEnd, false);

        var xDown = null;
        var yDown = null;

        function getTouches(evt) {
          return evt.touches || evt.originalEvent.touches;
        }

        function handleTouchStart(evt) {
            const firstTouch = getTouches(evt)[0];
            xDown = firstTouch.clientX;
            yDown = firstTouch.clientY;
        }

        function handleTouchEnd(evt) {
            if ( ! xDown || ! yDown ) {
                return;
            }

            const xUp = evt.changedTouches[0].clientX;
            const yUp = evt.changedTouches[0].clientY;

            const xDiff = xDown - xUp;
            const yDiff = yDown - yUp;

            if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {
                if ( xDiff > 100 ) {
                    document.getElementById("nobutton").click()
                } else {
                    document.getElementById("yesbutton").click()
                }
            }
            xDown = null;
            yDown = null;
        }
    </script>
    </html>
