
    <!doctype html>
    <html>
    <head>
        <title>Foodswiper</title>
        <link rel="stylesheet" href="static/index.css">
    </head>
    <body>
        {% if done: %}
        <p>You finished all the swipes!</p>
        {% else: %}
        <p>Recipe: {{ next_recipe }}</p>
        <p>ID: {{ next_id }}</p>
        <br>
        <p>IDs done: {{ previous_ids }}</p>
        <p>Swipes done: {{ previous_swipes }}</p>

        <form action="/swipe" method="POST">
            <input style="display: none" type="text" name="ids" value="{% if previous_ids != "" and previous_ids != None %}{{ previous_ids + "," + next_id|string }}{% else %}{{ next_id }}{% endif %}">
            <input style="display: none" type="text" name="swipes" value="{% if previous_swipes != "" and previous_swipes != None %}{{ previous_swipes + ",no" }}{% else %}{{ "no" }}{% endif %}">
            <button type="submit">No</button>
        </form>
        <form action="/swipe" method="POST">
            <input style="display: none" type="text" name="ids" value="{% if previous_ids != "" and previous_ids != None %}{{ previous_ids + "," + next_id|string}}{% else %}{{ next_id }}{% endif %}">
            <input style="display: none" type="text" name="swipes" value="{% if previous_swipes != "" and previous_swipes != None %}{{ previous_swipes + ",yes" }}{% else %}{{ "yes" }}{% endif %}">
            <button type="submit">Yes</button>
        </form>
        {% endif %}
    </body>
    </html>
