
    <!doctype html>
    <html>
    <head>
        <title>Foodswiper</title>
        <link rel="stylesheet" href="../static/index.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="bg-primary d-flex flex-column align-items-center" style="width: 100%">
        


            <!-- Main Functionality of the webpage-->
            <div>
                {% if done %}
                <h1>You finished all the swipes!</h1>
                {% include 'recipelist.html' %}
                {% else: %}
                <h1>Do you like this recipe?</h1>
                <div class="d-flex flex-row container-fluid">
                <form action="/swipe" method="POST" hidden>
                    <input style="display: none" type="text" name="ids" value="{% if previous_ids != "" and previous_ids != None %}{{ previous_ids + "," + next_id|string }}{% else %}{{ next_id }}{% endif %}">
                    <input style="display: none" type="text" name="swipes" value="{% if previous_swipes != "" and previous_swipes != None %}{{ previous_swipes + ",no" }}{% else %}{{ "no" }}{% endif %}">
                    <button type="submit" id="nobutton" hidden>No</button>
                </form>
                <div class="bg-light rounded">
                {% include 'recipe.html' %}
                </div>
                <form action="/swipe" method="POST" hidden>
                    <input style="display: none" type="text" name="ids" value="{% if previous_ids != "" and previous_ids != None %}{{ previous_ids + "," + next_id|string}}{% else %}{{ next_id }}{% endif %}">
                    <input style="display: none" type="text" name="swipes" value="{% if previous_swipes != "" and previous_swipes != None %}{{ previous_swipes + ",yes" }}{% else %}{{ "yes" }}{% endif %}">
                    <button type="submit" id="yesbutton" hidden>Yes</button>
                </form>
                </div>
                {% endif %}
            </div>
            
            <hr>
            <hr>
            
         <nav class="navbar fixed-bottom navbar-dark bg-dark" style="width: 100%">
        	<div class="container-fluid">
        		<a class="navbar-brand" href="#">Navbar</a>
        		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
   				</button>
    			<div class="collapse navbar-collapse" id="navbarNav">
      			<ul class="navbar-nav">
        		<li class="nav-item">
          		<a class="nav-link active" aria-current="page" href="#">Home</a>
        		</li>
        		</ul>
        		</div>
        	</div>
        </nav>
            
        </div>

    </body>
    <script>
        document.addEventListener('touchstart', handleTouchStart, false);
        document.addEventListener('touchend', handleTouchEnd, false);

        var xDown = null;
        var yDown = null;

        function getTouches(evt) {
          return evt.touches || evt.originalEvent.touches;
        }

        function handleTouchStart(evt) {
            const firstTouch = getTouches(evt)[0];
            xDown = firstTouch.clientX;
            yDown = firstTouch.clientY;
        }

        function handleTouchEnd(evt) {
            if ( ! xDown || ! yDown ) {
                return;
            }

            const xUp = evt.changedTouches[0].clientX;
            const yUp = evt.changedTouches[0].clientY;

            const xDiff = xDown - xUp;
            const yDiff = yDown - yUp;

            if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {
                if ( xDiff > 100 ) {
                    document.getElementById("nobutton").click()
                } else {
                    document.getElementById("yesbutton").click()
                }
            }
            xDown = null;
            yDown = null;
        }
    </script>
    </html>
